label{
    width: 120px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 15px;
}
body {
    background-color: #e2d1d1ff;
    margin: 20px;
}
table {
    background-color: #87a0ebff;
    border: 3px solid black;
    margin: 0 auto;
}
th, td {
    padding: 8px;
    color: white;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 40px;
    color: #333333;
    margin-bottom: 30px;
}
button{
    width: 212px;
    border: 2px solid black;
}
button{
    border: 2px solid #c9c4c4ff;
    padding: 5px;
}
button[type="submit"]{
    width: 210px;
    padding: 10px;
    background-color: #ade2afff;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button[type="submit"]:hover {
    background-color: #92d597ff;
}
.botones_superiores {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
input{
    border: 2px solid #c9c4c4ff;
    padding: 5px;
}
form, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}